.linear-bar {
    width: 500px;
    max-width: 100%;
    height: 8px;
    background-color: #FFB28E;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bar.indeterminate {
    animation: indeterminate 1.25s cubic-bezier(0.4, 0, 1, 1) infinite;
    width: 25%;
}

@keyframes indeterminate {
    0% {
        left: -30%;
        width: 30%;
    }

    100% {
        left: 100%;
        width: 35%;
    }
}

.linear-bar .bar {
    height: 103%;
    background-color: #FF5200;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s ease;
}