.search-bar {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.search-bar .input-holder {
    position: relative;
    width: 100%;
}

.search-bar input {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #B1B1B1;
    border-radius: 10px;
    padding: 10px 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    caret-color: #FF3C00;
}

.search-bar input:disabled {
    border: 2px solid #DEDEDE;
    color: #767A83;
}

.search-bar input:read-only {
    background-color: #F1F2F3;
    border: 2px solid #DEDEDE;
}

.search-bar input ::placeholder {
    color: #B1B1B1;
}

.clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border: none;
    background: #FF3C00;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.input-holder:focus-within .clear-button {
    display: flex;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}